@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::selection{
  color: #f2aa67;
  background-color: #f4e3d3;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  height: 100vh;
  position: relative;
}

.box-container-1 {
  background-image: url("./assets/download.jpg");
  background-size: cover;
  height: 85%;
  display: flex;
  background-repeat: no-repeat;
}

.box-container-1 h1 {
  color: #faf6f0;
  font-family: "Montserrat", sans-serif;
  font-size: 10vmax;
  font-weight: 600;
  width: 50%;
  letter-spacing: 0.2vmax;
  padding: 2vmax;
  text-shadow: 9px 1px 1px #d3893b;
}

.side-container {
  /* background-image: url("./assets/img3.jpg"); */
  background-size: cover;
  height: 300%;
  position: absolute;
  width: 30vw;
  top: 0;
  right: 0;
  min-height: 100vh;
  margin: 0 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-container div {
  height: 20%;
  width: 80%;
  margin: 1vmax 0;
  background-color: #f4e3d3;
  box-shadow: 13px 13px 0px 0px #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side-container div img {
  height: 85%;
  width: 100%;
}

.side-container div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.2vmax;
  text-align: center;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wonder1 {
}

.wonder2 {
}

.wonder3 {
}

.box-container-2 {
  height: 60%;
  font-family: "Poppins", sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2vmax;
}

.box-container-2 img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 22vmax;
}

.container-1 {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 0 2vmax;
  font-weight: 100;
  color: #faf6f0;
  text-align: justify;
  font-size: 1.3vmax;
}

.container-2 {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 0 2vmax;
  font-weight: 100;
  color: #faf6f0;
  text-align: justify;
  font-size: 1.3vmax;
}

.container-2 span {
  font-weight: 500;
}

.box-container-3{
  font-family: "Poppins", sans-serif;
  height: 135%;
  margin-top: 1vmax;
}

.box-container-3 h1{
  color: #b47d4a;
  font-weight: 100;
  font-size: 5vmax;
  padding-left: 2vmax;
}

.box-container-3 div{
  width: 65%;
  color: #fdf3e8;
  text-align: justify;
  padding: 1vmax 2vmax;
  font-weight: 100;
  font-size: 1.3vmax;
}

.box-container-3 div h4{
  font-weight: 400;
  font-size: 1.8vmax;
  color: whitesmoke;
}
